<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="media.css">
</head>
<body>
    <header class="header">
        <nav class="nav-menu">
            <div><a href="#home">Home</a></div>
            <div><a href="#about-me">Aboute me</a></div>
            <div><a href="#skills">Skills</a></div>
            <div><a href="#portfolio">Portfolio</a></div>
            <div><a href="#contact">Contacts</a></div>
            <div class="closer">
                <span></span>
                <span></span>
            </div>
        </nav>
        <div class="lang"><a href="#">RU</a> | <a href="#">ENG</a></div>
    </header>
    <main>
        <div class="home" id="home">
            <div class="button_mob">
                <span></span>
            </div>

            <div class="home-content">
                <div class="name">
                    <div>Denis</div>
                    <div>Novik</div>
                </div>
                <div class="about-me">UX | UI designer 24 years old, Minsk</div>
                <div></div>
            </div>
            <div class="home-img"><img src="imgs/Denis.png" alt="my photo" style="width: 850px;"></div>
            <div class="home-img-media"><img src="imgs/media img/BSPP2266 (1).png" alt="my photo" style="width: 752px;"></div>
        </div>
        <div class="about" id="about-me">
            <div class="h2">
                <h2>About me</h2>
            </div>
            <div class="content_about_me">
                <p>Hi, I'm Denis – UX/UI designer from Minsk.
                    I'm interested in design and everything connected with it.
                    </p>
                <p>I'm studying at courses "Web and mobile design
                    interfaces" in IT-Academy.</p>
                <p>Ready to implement excellent projects
                    with wonderful people.</p>
            </div>
        </div>
        <div class="skills" id="skills">
            <div class="h2">
                <h2>Skills</h2>
            </div>
            <div class="content_skills">
                <p>I work in such programs as</p>
            </div>
            <div class="programs">
                <div class="prog">
                    <div class="background_prog"><img src="imgs/Vector (3).png" alt="">
                    <div class="prog_logo"><img src="imgs/Vector (4).png" alt=""></div>
                    </div>
                    <div class="description_prog-logo">
                        <p>Adobe Photoshop</p>
                    </div>
                    <div class="stars">
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star (1).png" alt=""></div>
                    </div>
                </div>
               
                <div class="prog">
                    <div class="background_prog"><img src="imgs/Vector (5).png" alt="">
                        <div class="prog_logo"><img src="imgs/Vector (6).png" alt=""></div>
                    </div>
                    <div class="description_prog-logo">
                        <p>Adobe Illustrator</p>
                    </div>
                    <div class="stars">
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star (1).png" alt=""></div>
                        <div><img src="imgs/Star (1).png" alt=""></div>
                    </div>
                </div>

                <div class="prog">
                    <div class="background_prog"><img src="imgs/Vector (7).png" alt="">
                        <div class="prog_logo"><img src="imgs/Vector (8).png" alt=""></div>
                    </div>
                    <div class="description_prog-logo">
                        <p>Adobe After Effects</p>
                    </div>
                    <div class="stars">
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star (1).png" alt=""></div>
                    </div>
                </div>

                <div class="prog">
                    <div class="background_prog last">
                        <div class="prog_logo"><img src="imgs/Figma-logo.svg" alt="" style="width: 65px;"></div>
                    </div>
                    <div class="description_prog-logo">
                        <p>Figma</p>
                    </div>
                    <div class="stars">
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star.png" alt=""></div>
                        <div><img src="imgs/Star (1).png" alt=""></div>
                    </div>
                </div>
               
            </div>

        </div>
        
        <div class="portfolio" id="portfolio">
            <div class="h2">
                <h2>Portfolio</h2>
            </div>
            <div>
                <div class="portfolio-img">
                    <img src="imgs/Слой 8.png" alt="portfolio1">
                </div>
                <div class="content_portfolio">
                    <p><a href="">Online fashion store - Homepage</a></p>
                </div>

                <div class="portfolio-img">
                    <img src="imgs/reebok_web.png" alt="reebok web">
                </div>
                <div class="content_portfolio">
                    <p><a href="">Reebok Store - Concept</a></p>
                </div>

                <div class="portfolio-img">
                    <img src="imgs/reebok_web (1).png" alt="reebok web">
                </div>
                <div class="content_portfolio">
                    <p><a href="">Braun Landing Page - Concept</a></p>
                </div>    
            </div>
        </div>

        <div class="contact" id="contact">
            <div class="h2">
                <h2>Contact</h2>
            </div>
            <div class="content_contact">
                <p>Want to know more or just chat?</p>
                <p>You are welcome!</p>
            </div>
            <div class="button">
                <a href=""><img src="imgs/chip bg.png" alt="" style="position: relative;"></a>
                <p><a href="">Send message</a></p>
            </div>
            <div class="social">
                <a href="">
                    <div style="position: relative;"><img src="imgs/Vector (3.1).png" alt="">
                        <div style="position: absolute; top: 14px; left: 11px;"><img src="imgs/Vector (4.1).png" alt=""></div>
                        <div style="position: absolute; top: 14px; left: 17px;"><img src="imgs/Vector (5.1).png" alt=""></div>
                        <div style="position: absolute; top: -1px; left: 11px;"><img src="imgs/Vector (6.1).png" alt=""></div>
                    </div>
                </a>
                <a href="">
                    <div><img src="imgs/Vector (7.1).png" alt=""></div>
                </a>
                <a href="">
                    <div style="position: relative;"><img src="imgs/Vector (8.1).png" alt="">
                        <div style="position: absolute; top: 14px; left: 7px;"><img src="imgs/Vector (9).png" alt="">
                        </div>
                        <div style="position: absolute; top: 15px; left: 21px;"><img src="imgs/Vector (10).png" alt="">
                        </div>
                        <div style="position: absolute; top: 1px; left: 22px;"><img src="imgs/Vector (11).png" alt="">
                        </div>
                    </div>
                </a>
                <a href="">
                    <div><img src="imgs/Vector (12).png" alt=""></div>
                </a>
            </div>
            <div class="social_like">
                <p>Like me on LinkedIn, Instagram, Behance, Dribble</p>
            </div>
        </div>
         
    </main>

    <script src="main.js"></script>
</body>
</html>